@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

body, html {
    background-color: #ffa600d0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    height: 100vh;
}

header {
    margin-top: 0px;
    background-color: #2f2fffce;
    text-align: center;
}

header h1 {
    color: #ffffff;
    text-shadow: 2px 2px 0px #000000b2;
    text-align: center;
    font-size: 1.4em;
    transform: translateY(-3.5px);
}

div {
    margin: 5px;
    text-align: right;
}

img#foto {
    width: 60px;
}

main {
    background-color: #ffa600d0;
    min-width: 320px;
    max-width: 768px;
    margin: auto;
    color: #ffffff;
}

main p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px #00000034;
    font-size: 1em;
}

h3 {
    background-color: #2f2fffce;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: -3px 1px 0px #0c010149;
}

h5 {
    color: #0000ffdc;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 10px;
}

strong {
    background-color: #2f2fffce;
    box-shadow: 1px 1px 1px #00000052;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

strong.comp2 {
    font-size: 10px;
    background-color: #ffffff;
    color: blue;
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}

#jj {
    font-size: 13.5px;
}

footer {
    margin-top: -60px;
    text-align: left;
}

footer img {
    width: 450px;
}

section {
    position: relative;
    text-align: left;
   
}

section img {
    position: absolute;
    width: 79px;
    

    top: 50%;
    left: 50%;


    transform: translate(-177%, 457.5%);
}

div#numero1 {
    color: #3207f5;
    font-size: 20px;
    display: inline-block;
    text-shadow: 1px 1px 0px #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;

    top: 50%;
    left: 50%;
    transform: translate(280%, 1230%);
}

div#numero6 {
    color: #3207f5;
    text-shadow: 1px 1px 0px #ffffff;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-428%, 2750%);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

main footer {
    text-align: left;
}

table {
    border-collapse: collapse;
    top: 50%;
    left: 50%;

    transform: translate(970%, 3300%);
}

th {
    border: 1px solid #000000;
    color: #3207f5;
    font-weight: bolder;
    text-shadow: 1px 1px 0px #ffffff;
}